{% extends "base.html" %}
{% block content %}

<h1>Resultados de KPIs para {{ user.username }}</h1>

{% if kpis %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Pregunta</th>
            {% for kpi in kpis %}
                <th>{{ kpi.date.strftime('%Y-%m-%d') }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Reducción Consumo Eléctrico</td>
            {% for kpi in kpis %}
                <td>{{ kpi.reduc_consumo_electrico }} ({{ descriptions[1][kpi.reduc_consumo_electrico] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.reduc_consumo_electrico == 4 else 'lightgreen' if kpi.reduc_consumo_electrico == 3 else 'yellow' if kpi.reduc_consumo_electrico == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Gestión Ambiental</td>
            {% for kpi in kpis %}
                <td>{{ kpi.gestion_ambiental }} ({{ descriptions[2][kpi.gestion_ambiental] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.gestion_ambiental == 4 else 'lightgreen' if kpi.gestion_ambiental == 3 else 'yellow' if kpi.gestion_ambiental == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Reducción Consumo Agua</td>
            {% for kpi in kpis %}
                <td>{{ kpi.reduc_consumo_agua }} ({{ descriptions[3][kpi.reduc_consumo_agua] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.reduc_consumo_agua == 4 else 'lightgreen' if kpi.reduc_consumo_agua == 3 else 'yellow' if kpi.reduc_consumo_agua == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Reducción Residuos</td>
            {% for kpi in kpis %}
                <td>{{ kpi.reduc_residuos }} ({{ descriptions[4][kpi.reduc_residuos] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.reduc_residuos == 4 else 'lightgreen' if kpi.reduc_residuos == 3 else 'yellow' if kpi.reduc_residuos == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Análisis Impactos Ambientales</td>
            {% for kpi in kpis %}
                <td>{{ kpi.impacto_ambiental }} ({{ descriptions[5][kpi.impacto_ambiental] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.impacto_ambiental == 4 else 'lightgreen' if kpi.impacto_ambiental == 3 else 'yellow' if kpi.impacto_ambiental == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Cumplimiento Aspectos Laborales</td>
            {% for kpi in kpis %}
                <td>{{ kpi.asp_laborales }} ({{ descriptions[6][kpi.asp_laborales] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.asp_laborales == 4 else 'lightgreen' if kpi.asp_laborales == 3 else 'yellow' if kpi.asp_laborales == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Gestión Diversidad e Inclusión</td>
            {% for kpi in kpis %}
                <td>{{ kpi.div_inc_ddhh }} ({{ descriptions[7][kpi.div_inc_ddhh] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.div_inc_ddhh == 4 else 'lightgreen' if kpi.div_inc_ddhh == 3 else 'yellow' if kpi.div_inc_ddhh == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Acciones Sociales</td>
            {% for kpi in kpis %}
                <td>{{ kpi.acc_social }} ({{ descriptions[8][kpi.acc_social] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.acc_social == 4 else 'lightgreen' if kpi.acc_social == 3 else 'yellow' if kpi.acc_social == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Gestión Salud y Seguridad</td>
            {% for kpi in kpis %}
                <td>{{ kpi.ssma }} ({{ descriptions[9][kpi.ssma] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.ssma == 4 else 'lightgreen' if kpi.ssma == 3 else 'yellow' if kpi.ssma == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Gestión Formación</td>
            {% for kpi in kpis %}
                <td>{{ kpi.formacion }} ({{ descriptions[10][kpi.formacion] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.formacion == 4 else 'lightgreen' if kpi.formacion == 3 else 'yellow' if kpi.formacion == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Código de Conducta</td>
            {% for kpi in kpis %}
                <td>{{ kpi.codigo_conducta }} ({{ descriptions[11][kpi.codigo_conducta] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.codigo_conducta == 4 else 'lightgreen' if kpi.codigo_conducta == 3 else 'yellow' if kpi.codigo_conducta == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Canal de Denuncias</td>
            {% for kpi in kpis %}
                <td>{{ kpi.linea_etica }} ({{ descriptions[12][kpi.linea_etica] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.linea_etica == 4 else 'lightgreen' if kpi.linea_etica == 3 else 'yellow' if kpi.linea_etica == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Área de Compliance</td>
            {% for kpi in kpis %}
                <td>{{ kpi.area_compliance }} ({{ descriptions[13][kpi.area_compliance] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.area_compliance == 4 else 'lightgreen' if kpi.area_compliance == 3 else 'yellow' if kpi.area_compliance == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Debida Diligencia</td>
            {% for kpi in kpis %}
                <td>{{ kpi.due_dilligence }} ({{ descriptions[14][kpi.due_dilligence] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.due_dilligence == 4 else 'lightgreen' if kpi.due_dilligence == 3 else 'yellow' if kpi.due_dilligence == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Evaluación de Riesgos</td>
            {% for kpi in kpis %}
                <td>{{ kpi.riesgos }} ({{ descriptions[15][kpi.riesgos] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.riesgos == 4 else 'lightgreen' if kpi.riesgos == 3 else 'yellow' if kpi.riesgos == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Huella de CO2</td>
            {% for kpi in kpis %}
                <td>{{ kpi.huella_co2 }} ({{ descriptions[16][kpi.huella_co2] }})</td>
                <td><span class="semaforo" style="background-color: {{ 'darkgreen' if kpi.huella_co2 == 4 else 'lightgreen' if kpi.huella_co2 == 3 else 'yellow' if kpi.huella_co2 == 2 else 'red' }};"></span></td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<style>
    .semaforo {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
</style>

<h2>Gráfico de Resultados</h2>
<canvas id="kpiChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('kpiChart').getContext('2d');
        var kpiChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    'Reducción Consumo Eléctrico',
                    'Gestión Ambiental',
                    'Reducción Consumo Agua',
                    'Reducción Residuos',
                    'Análisis Impactos Ambientales',
                    'Cumplimiento Aspectos Laborales',
                    'Gestión Diversidad e Inclusión',
                    'Acciones Sociales',
                    'Gestión Salud y Seguridad',
                    'Gestión Formación',
                    'Código de Conducta',
                    'Canal de Denuncias',
                    'Área de Compliance',
                    'Debida Diligencia',
                    'Evaluación de Riesgos',
                    'Huella de CO2'
                ],
                datasets: [
                    {
                        label: 'Resultados',
                        data: [
                            {% for kpi in kpis %}
                                {{ kpi.reduc_consumo_electrico }},
                                {{ kpi.gestion_ambiental }},
                                {{ kpi.reduc_consumo_agua }},
                                {{ kpi.reduc_residuos }},
                                {{ kpi.impacto_ambiental }},
                                {{ kpi.asp_laborales }},
                                {{ kpi.div_inc_ddhh }},
                                {{ kpi.acc_social }},
                                {{ kpi.ssma }},
                                {{ kpi.formacion }},
                                {{ kpi.codigo_conducta }},
                                {{ kpi.linea_etica }},
                                {{ kpi.area_compliance }},
                                {{ kpi.due_dilligence }},
                                {{ kpi.riesgos }},
                                {{ kpi.huella_co2 }}
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for kpi in kpis %}
                                '{{ 'darkgreen' if kpi.reduc_consumo_electrico == 4 else 'lightgreen' if kpi.reduc_consumo_electrico == 3 else 'yellow' if kpi.reduc_consumo_electrico == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.gestion_ambiental == 4 else 'lightgreen' if kpi.gestion_ambiental == 3 else 'yellow' if kpi.gestion_ambiental == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.reduc_consumo_agua == 4 else 'lightgreen' if kpi.reduc_consumo_agua == 3 else 'yellow' if kpi.reduc_consumo_agua == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.reduc_residuos == 4 else 'lightgreen' if kpi.reduc_residuos == 3 else 'yellow' if kpi.reduc_residuos == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.impacto_ambiental == 4 else 'lightgreen' if kpi.impacto_ambiental == 3 else 'yellow' if kpi.impacto_ambiental == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.asp_laborales == 4 else 'lightgreen' if kpi.asp_laborales == 3 else 'yellow' if kpi.asp_laborales == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.div_inc_ddhh == 4 else 'lightgreen' if kpi.div_inc_ddhh == 3 else 'yellow' if kpi.div_inc_ddhh == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.acc_social == 4 else 'lightgreen' if kpi.acc_social == 3 else 'yellow' if kpi.acc_social == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.ssma == 4 else 'lightgreen' if kpi.ssma == 3 else 'yellow' if kpi.ssma == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.formacion == 4 else 'lightgreen' if kpi.formacion == 3 else 'yellow' if kpi.formacion == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.codigo_conducta == 4 else 'lightgreen' if kpi.codigo_conducta == 3 else 'yellow' if kpi.codigo_conducta == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.linea_etica == 4 else 'lightgreen' if kpi.linea_etica == 3 else 'yellow' if kpi.linea_etica == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.area_compliance == 4 else 'lightgreen' if kpi.area_compliance == 3 else 'yellow' if kpi.area_compliance == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.due_dilligence == 4 else 'lightgreen' if kpi.due_dilligence == 3 else 'yellow' if kpi.due_dilligence == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.riesgos == 4 else 'lightgreen' if kpi.riesgos == 3 else 'yellow' if kpi.riesgos == 2 else 'red' }}',
                                '{{ 'darkgreen' if kpi.huella_co2 == 4 else 'lightgreen' if kpi.huella_co2 == 3 else 'yellow' if kpi.huella_co2 == 2 else 'red' }}'
                            {% endfor %}
                        ]
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>

<a href="{{ url_for('evaluate', cuit=user.cuit) }}" class="btn btn-primary">Cargar nueva auto-evaluación</a>

{% else %}
<p>No tienes KPIs cargados aún.</p>
<a href="{{ url_for('evaluate', cuit=user.cuit) }}" class="btn btn-primary">Cargar tus primeros KPIs</a>
{% endif %}

{% endblock %}

