{% extends "base.html" %}
{% block content %}
<h1>Perfil de {{ user.username }}</h1>
<h2>Organización: {{ user.organization_name }}</h2>
<h3>Posición: {{ user.position }}</h3>
<h4>Email: {{ user.email }}</h4>
<h4>Teléfono: {{ user.phone }}</h4>

<h2>KPIs</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Pregunta</th>
            <th>Puntaje</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for kpi in kpis %}
        <tr>
            <td>Reducción Consumo Eléctrico</td>
            <td>{{ kpi.reduc_consumo_electrico }}</td>
            <td>{{ descriptions[1][kpi.reduc_consumo_electrico] }}</td>
        </tr>
        <tr>
            <td>Gestión Ambiental</td>
            <td>{{ kpi.gestion_ambiental }}</td>
            <td>{{ descriptions[2][kpi.gestion_ambiental] }}</td>
        </tr>
        <tr>
            <td>Reducción Consumo Agua</td>
            <td>{{ kpi.reduc_consumo_agua }}</td>
            <td>{{ descriptions[3][kpi.reduc_consumo_agua] }}</td>
        </tr>
        <tr>
            <td>Reducción Residuos</td>
            <td>{{ kpi.reduc_residuos }}</td>
            <td>{{ descriptions[4][kpi.reduc_residuos] }}</td>
        </tr>
        <tr>
            <td>Análisis Impactos Ambientales</td>
            <td>{{ kpi.impacto_ambiental }}</td>
            <td>{{ descriptions[5][kpi.impacto_ambiental] }}</td>
        </tr>
        <tr>
            <td>Cumplimiento Aspectos Laborales</td>
            <td>{{ kpi.asp_laborales }}</td>
            <td>{{ descriptions[6][kpi.asp_laborales] }}</td>
        </tr>
        <tr>
            <td>Gestión Diversidad e Inclusión</td>
            <td>{{ kpi.div_inc_ddhh }}</td>
            <td>{{ descriptions[7][kpi.div_inc_ddhh] }}</td>
        </tr>
        <tr>
            <td>Acciones Sociales</td>
            <td>{{ kpi.acc_social }}</td>
            <td>{{ descriptions[8][kpi.acc_social] }}</td>
        </tr>
        <tr>
            <td>Gestión Salud y Seguridad</td>
            <td>{{ kpi.ssma }}</td>
            <td>{{ descriptions[9][kpi.ssma] }}</td>
        </tr>
        <tr>
            <td>Gestión Formación</td>
            <td>{{ kpi.formacion }}</td>
            <td>{{ descriptions[10][kpi.formacion] }}</td>
        </tr>
        <tr>
            <td>Código de Conducta</td>
            <td>{{ kpi.codigo_conducta }}</td>
            <td>{{ descriptions[11][kpi.codigo_conducta] }}</td>
        </tr>
        <tr>
            <td>Canal de Denuncias</td>
            <td>{{ kpi.linea_etica }}</td>
            <td>{{ descriptions[12][kpi.linea_etica] }}</td>
        </tr>
        <tr>
            <td>Área de Compliance</td>
            <td>{{ kpi.area_compliance }}</td>
            <td>{{ descriptions[13][kpi.area_compliance] }}</td>
        </tr>
        <tr>
            <td>Debida Diligencia</td>
            <td>{{ kpi.due_dilligence }}</td>
            <td>{{ descriptions[14][kpi.due_dilligence] }}</td>
        </tr>
        <tr>
            <td>Evaluación de Riesgos</td>
            <td>{{ kpi.riesgos }}</td>
            <td>{{ descriptions[15][kpi.riesgos] }}</td>
        </tr>
        <tr>
            <td>Huella de CO2</td>
            <td>{{ kpi.huella_co2 }}</td>
            <td>{{ descriptions[16][kpi.huella_co2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('views.evaluate', cuit=user.cuit) }}" class="btn btn-primary">Cargar tus primeros KPIs</a>
{% endblock %}
